# pandas uzdevumi 2  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [1]:
import pandas as pd

In [3]:
df

   a   b
0  1   3
1  2   4
2  3  56

In [2]:
dct = {'a':[1,2,3],'b':[3,4,56]}
df = pd.DataFrame(dct)
df.describe()

         a          b
count  3.0   3.000000
mean   2.0  21.000000
std    1.0  30.315013
min    1.0   3.000000
25%    1.5   3.500000
50%    2.0   4.000000
75%    2.5  30.000000
max    3.0  56.000000

In [4]:
df.mean()

a     2.0
b    21.0
dtype: float64

In [5]:
df.shape

(3, 2)

In [10]:
# Uzdevums:
# Pārbaudīt kas notiek, ja aizvietojam kādu no dct vārdnīcas b kolonnām ar str vērtību

dct = {'a':[1,2,3],'b':[3,4,56]}
df = pd.DataFrame(dct)

df.dtypes

a    int64
b    int64
dtype: object

In [40]:
lst = list(df['a'].astype(str))
print(lst)

['1', '2', '3']

In [13]:
# df.mean() # vidējās vērtības pa kolonnām
# df.cov() #Kolonnu savstarpējās kovariācijas matrica
# df.cumsum() # Kumulatīvā summa katrai rindiņai visām kolonnām
# df.cumprod() # Kumulatīvais reizinājums katrai rindiņāi visām kolonnām

   a    b
0  1    3
1  2   12
2  6  672

https://support.staffbase.com/hc/en-us/article_attachments/360009159392/access-code.csv  
https://support.staffbase.com/hc/en-us/article_attachments/360009159412/access-code-password-recovery-code.csv  
https://support.staffbase.com/hc/en-us/article_attachments/360009197011/username-password-recovery-code.csv  
https://support.staffbase.com/hc/en-us/article_attachments/360009197031/username.csv  
https://support.staffbase.com/hc/en-us/article_attachments/360009197071/email.csv  
https://support.staffbase.com/hc/en-us/article_attachments/360009197051/username-or-email.csv  
https://support.staffbase.com/hc/en-us/article_attachments/360009197091/email-password-recovery-code.csv

In [2]:
a_code = pd.read_csv('access-code.csv')

In [4]:
a_code_pword_rec = pd.read_csv('access-code-password-recovery-code.csv')

In [6]:
un_pw_rec_code = pd.read_csv('username-password-recovery-code.csv')

In [7]:
un = pd.read_csv('username.csv')

In [8]:
email = pd.read_csv('email.csv')

In [9]:
un_email = pd.read_csv('username-or-email.csv')

In [10]:
email_pw_rec = pd.read_csv('email-password-recovery-code.csv')

In [14]:
a_code

  Identifier;First name;Last name
0            901242;Rachel;Booker
1               207074;Laura;Grey
2            408129;Craig;Johnson
3             934600;Mary;Jenkins
4              507916;Jamie;Smith

In [16]:
# Uzdevums:
# Atrodiet veidu kā salikt csv failus DataFrame objektos pareizi, rediģējot DF definīcijas

In [ ]:
# Uzdevums:
# Izmantojot to_excel funkciju, ielieciet DataFrame objektu excel failā
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html#pandas.DataFrame.to_excel